* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #667eea, #764ba2);
}

.container {
    width: 100%;
    max-width: 650px;
    padding: 20px;
    text-align: center;
}

.quote-card {
    background: white;
    padding: 45px 40px;
    border-radius: 20px;

    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

.icon {
    font-size: 55px;
    color: #764ba2;
    margin-bottom: 10px;
}

h1 {
    font-size: 32px;
    margin-bottom: 25px;
    color: #222;
}

#quote {
    font-size: 22px;
    line-height: 1.6;
    color: #444;
    margin-bottom: 20px;
}

#author {
    font-size: 17px;
    color: #764ba2;
    margin-bottom: 30px;
}

button {
    border: none;
    padding: 14px 28px;

    font-size: 16px;
    font-weight: bold;

    color: white;
    background: #764ba2;

    border-radius: 30px;
    cursor: pointer;

    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    background: #5f3c8a;
}

footer {
    margin-top: 20px;
    color: white;
    font-size: 14px;
}

@media (max-width: 600px) {

    .quote-card {
        padding: 35px 25px;
    }

    h1 {
        font-size: 26px;
    }

    #quote {
        font-size: 19px;
    }
}

#copyBtn {
    margin-left: 10px;
    background: #333;
}

#copyBtn:hover {
    background: #111;
}

@media (max-width: 600px) {

    #copyBtn {
        margin-left: 0;
        margin-top: 10px;
    }
}